body {
    margin: 0;
    background-color: #dfe4ea !important;
}

main {
    display: flex;
    padding-top: 10px;
    height: fit-content;
}

.template {
    display: block;

}

header > div {
    width: 100%;
    height: 80px;
    background-color: white;
    position:sticky;
    box-shadow: 0mm 0mm 8px #b2bec3;

}

header > div > h1 {
    color: #485460;
}

header > div > h1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    height: fit-content;
}

aside {
    width: 20%;
    height: 80vh;
    /*position: fixed;*/
}

nav {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

aside > nav a {
    text-decoration: none;
    font-size: 20px;
    color: #485460;
    width: 88%;
    height: 50px;
    display: inline-block;
    border-radius: 4px;
    margin-left: 15px;
    margin-bottom: 6px;
    margin-top: 10px;
    position: relative;

}

i {
    margin-right: 10px;
    margin-left: 20px;
}

span {
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 10px;
}

aside > nav ul li {
    text-decoration: none;
    display: block;
    position: relative;
}

aside > nav > ul {
    padding: 0;
}

a:hover {
    background-color: #7f8fa6 !important;
    color: white !important;
    box-shadow: 2px 2px 8px gray;
}

/*right pane eka */
main > div {
    margin-left: 5px;
    margin-right: 5px;
    width: 100VW;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0.5mm 0.5mm 8px #b2bec3;
    position: absolute;
    right: 0;
}

a:focus {
    /*background-color: #0652DD;
    color: white;
    box-shadow: 2px 2px 8px gray;*/
}

.btn {
    width: 75px;
}

#myform {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    border: 0.5px solid #CFCFCF;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    box-shadow: 0mm 0mm 8px #E4E4E4;
}

.myMane {
    padding: 20px;
    display: block;
}

table {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0.5px solid #CFCFCF;
    box-shadow: 0mm 0mm 8px #E4E4E4;
    padding: 10px;
}

main > h1 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #485460;
}

#search {
    width: 250px !important;
    margin-left: 10px;
}

.dashMane {
    display: block;
    width: 100%;
}

.dash {
    width: 100%;
    position: static;
}

.dash > div {
    padding: 20px;
}

.dash > div > div {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    border: 0.5px solid #CFCFCF;
    box-shadow: 1mm 1mm 8px #c8d6e5;
    color: #485460;
    position: relative;
}

.dash > div > div > h5{
    color: white;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
}

.dash > div > div > h6 {
    font-size: 22px;
    color: white;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
}
.mytext{
    height: fit-content;
}
.dashMane > section > div > h2{
    color: #485460;
}
.dashMane > section > div:first-child > div{
    background-color: #ff3838;
}
.dashMane > section > div:nth-child(2) > div{
    background-color: #2e86de;
}
.dashMane > section > div:nth-child(3) > div{
    background-color: #1e3799;
}
.dashMane > section > div:nth-child(4) > div{
    background-color: #38ada9;
}
@media all and (max-width: 910px) {
    aside {
        display: none;
    }

    main > div {
        position: static;
        width: 100%;

    }

    #search {
        width: 150px !important;
    }

    .d-grid {
        display: flex !important;
    }

    #myform {
        margin-right: 0;
        margin-left: 0;
    }

    #divQty {
        width: 30%;
    }
}


.btns{
    position: relative;
    left: 50%;
    top: 30%;
    padding: 20px;
    text-decoration: none;
    background: #ffffff;
    color: #1a1e21;
    border-radius: 10px;
    font-weight: bold;
    font-family:Roboto ,sans-serif;

}

.btns1{
    position: relative;

    top: 30%;
    padding: 10px;
    text-decoration: none;
    background: #ffffff;
    color: #1a1e21;
    border-radius: 10px;
    font-weight: bold;
    font-family:Roboto ,sans-serif;

}
@media (max-width:850px){ /*width ek 800px vada nan css rulse tika apply wenw*/
    .btns{
        display: none;
    }
    .btns1{
        display: block;
    }
}
@media (min-width:850px){ /*width ek 800px vada nan css rulse tika apply wenw*/
    .btns1{
        display: none;
    }
}
#btnDelete{
    left: 100VW;
}
